<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <h1>{{caption}}</h1>
        <img src="../public/images/skimountain.jpg" alt="Skiing on a mountain">
    </body>
</html>